<img class="image" src="../assets/logoDjezzy.png">

<div  class = "blocko"style="  margin-top: 30px;text-align: center;
vertical-align: middle;" >
  <a class = "text-side" style="color: #808282;">please select database</a>

  <mat-accordion multi="false" >
  <mat-expansion-panel style="margin-top: 1rem;"  >
    <mat-expansion-panel-header>
      Actuel
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="primary" (click) = "selectSide('false')">SELECT</button>
      <button mat-button color="warn">BACKUP</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel style="margin-top: 3px;">
    <mat-expansion-panel-header>
      Archive
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="primary" (click) = "selectSide('true')">SELECT</button>
      <button mat-button color="warn">BACKUP</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


</div>





