



<form  #postForm="ngForm" (ngSubmit)="onAddPost(postForm)">
<div class="container">
  <div class="row">

  <div class="col">


  <mat-card class = "information">
  <div >



    <h1 color = "primary">Personal informations</h1>
  <mat-form-field >
    <input matInput placeholder = "NOM" name="nom" ngModel>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="PRENOM" name="prenom" ngModel>
  </mat-form-field>
  <mat-form-field>
      <mat-select placeholder="SEXE" name = "sexe" ngModel>
        <mat-option value="HOMME">HOMME</mat-option>
        <mat-option value="FEMME">FEMME</mat-option>
      </mat-select>
    </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="DATE DE NAISSANCE" name="dateNaissance"  ngModel >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="WILAYA" name="wilaya" ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="N° DE TÉLÉPHONE" name="nTelephone"  ngModel>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="ADRESSE MAIL" name="email" ngModel >
  </mat-form-field>

</div>


</mat-card>

</div>
<div class="col">

<mat-card >

  <div class="example-container">
      <h1>Stage informations</h1>

      <mat-form-field>
        <input matInput placeholder="ETABLISSEMENT"  name="etablissement" ngModel>
      </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="DIPLÔME PREPARÉ"  name="diplome" ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="THEME DU STAGE" name="theme" ngModel >
      </mat-form-field>


    <div class="row">
        <mat-form-field class="col-6">
            <mat-select placeholder="TYPE DE STAGE" name="typeStage" ngModel>
              <mat-option value="Projet de fin d'etude">Projet de fin d'études</mat-option>
              <mat-option value="Stage de découverte">Stage de découverte</mat-option>
              <mat-option value="Stage rémunéré">Stage rémunéré</mat-option>
            </mat-select>
          </mat-form-field>
    <mat-form-field class="col-6">
        <mat-select placeholder="TYPE DE RAPPORT" name="typeRapport" ngModel >
          <mat-option value="Rapport">Rapport</mat-option>
          <mat-option value="Memoire">Mémoire</mat-option>
        </mat-select>
      </mat-form-field>


      </div>
<div class="row">
      <mat-form-field class="col-6">
          <input matInput [matDatepicker]="debut" placeholder="DATE DEBUT" name="dateDebut" ngModel>
          <mat-datepicker-toggle matSuffix [for]="debut"></mat-datepicker-toggle>
          <mat-datepicker #debut></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-6">
            <input matInput [matDatepicker]="fin" placeholder="DATE FIN"  name="dateFin" ngModel>
            <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
            <mat-datepicker #fin></mat-datepicker>
          </mat-form-field>
</div>

    <mat-form-field>

      <mat-select placeholder="Nombre de passage par semaine" name="nbJoursPresence" ngModel >
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RECOMENDATION" name="recommandation" ngModel >
    </mat-form-field>


  </div>

</mat-card>

</div>
<div class="col">

<mat-card  >

  <div class="example-container">
      <h1>Encadreur informations </h1>
    <mat-form-field>
      <input matInput placeholder="NOM"  name="encadreur" ngModel >
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="IDENTIFIENT" name="encadreurID" ngModel >
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="EMAIL " name="encadreurmMail" ngModel >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="DEPARTEMENT" name="encadreurDEP" ngModel >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="SECTEUR" name="encadreurSec" ngModel >
      </mat-form-field>


        <mat-form-field>
        <mat-select placeholder="FONCTION" name="encadreurmOrg" ngModel >
            <mat-option value="manager">Manager</mat-option>
            <mat-option value="Team Leader">Team Leader</mat-option>
            <mat-option value="Superviseur">Superviseur</mat-option>
            <mat-option value="Enginner">Enginner</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="ATTESTATION DE STAGE" name= "attestation" ngModel>
              <mat-option value="true" >OUI</mat-option>
              <mat-option value="false">NO</mat-option>

            </mat-select>
          </mat-form-field>


              <input matInput placeholder=""   [hidden]="true" name="matricule" ngModel >

  </div>

</mat-card>

</div>
</div>
<div class="row" >
  <div class="col-4" >
</div>
<div class="col-4"> </div>
<div class="col-4">  <button mat-flat-button color="primary"  type="submit" >SAVE</button> </div>
</div>


</div>

</form>









