


<div class="flex-container" >

<div class = "enc">
  <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s">
    <div class="card-body p-5">
<h2 style="font-size:2rem">   Nombre de stagiaires par département </h2>
<canvas id="enc" width="850" height="473" class="chartjs-render-monitor" style="display:block; "></canvas>
    </div>
</div>

</div>

 




<div class = "sector">
  <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s" >
    <div class="card-body p-5">
  <h2 style="font-size:2rem">
  Nombre de stagiaires par secteur</h2>
  <canvas id="sector" width="850" height="473" class="chartjs-render-monitor" style="display:block;"></canvas>
  
  
    </div>
    </div>

</div>



<div class = "type">
 
            <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s">
              <div class="card-body p-5">
    <h2 style="font-size:2rem">   Nombre de stagiaires par type de stage </h2>
    <canvas id="type" width="850" height="473" class="chartjs-render-monitor" style="display:block; "></canvas>
              </div>
          </div>
</div>














<!-- date  -->

<div class="date">

  <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s" >
    <div class="card-body p-5">
  <div style="display: block">
    <h2 style="font-size:2rem">Suivi des stagiaires par mois</h2>
    <canvas id="date" width="850" height="473" class="chartjs-render-monitor" style="display:block;"></canvas>

  </div>
    </div>
</div>


</div>





</div>

