<div class="container" style="width: 900px; height: 400px;">
<div >
    <!-- style="widows: 450px;"> -->



        <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s">
            <div class="card-body p-5">
  <h2 style="font-size:2rem">   The distribution of trainees by Departement </h2>
  <canvas id="enc" width="850" height="473" class="chartjs-render-monitor" style="display:block; "></canvas>
            </div>
        </div>


        <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s" >
            <div class="card-body p-5">
    <h2 style="font-size:2rem">
          The distribution of trainees by sector</h2>
      <canvas id="sector" width="850" height="473" class="chartjs-render-monitor" style="display:block;"></canvas>


            </div>
            </div>
</div>






<div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s" >
    <div class="card-body p-5">
  <div style="display: block">
    <h2 style="font-size:2rem">The number of trainees according to the dates of each month</h2>
    <canvas id="date" width="850" height="473" class="chartjs-render-monitor" style="display:block;"></canvas>

  </div>
    </div>
</div>





</div>

