<div class="container" style="width: 900px; height: 400px;">
<div >
    <!-- style="widows: 450px;"> -->

    

        <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s">
            <div class="card-body p-5">
  <h2 style="font-size:2rem">  The distribution of trainees according to the supervisors </h2>
  <canvas id="pieChart" width="850" height="473" class="chartjs-render-monitor" style="display:block; "></canvas>
            </div>
        </div>


        <div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s" >
            <div class="card-body p-5">
    <h2 style="font-size:2rem">
          The distribution of trainees by sector</h2>
      <canvas id="barChart" width="600" height="223" class="chartjs-render-monitor" style="display:block;"></canvas>
    
    
            </div>
            </div>
</div>








<div class="card mb-5 wow fadeInUp shadow" data-wow-delay=".4s" >
    <div class="card-body p-5">
  <div style="display: block">
    <h2 style="font-size:2rem">The number of trainees according to the dates of each month</h2>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
    </div>
</div>
</div>

