<h1 mat-dialog-title>Encadreur information </h1>
<div mat-dialog-content>
  <p>encadreur :  {{ data.Last_Name + " " + data.First_name}} </p>
  <p>Sector :  {{ data.Sector }} </p>
  <p>Departement :  {{ data.Departement }} </p>
  <p>Position :  {{ data.Position }} </p>
  <p>Email :  {{ data.Email_Address }} </p>



</div>
<div mat-dialog-actions>
  <div class="row">
    <div class="col-4"> </div>


    <div class=col-4>  </div>
    <div class="col-4">
      <div> </div>

      <button mat-button (click)="noDelete()">Close</button>

    </div>


</div>

</div>

