

.toolbardiv{
      background-color: #ffffff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }
// @mixin btn-theme {
//   background-color: #9A68C7;
//   border-color: #743EA5;
//   &:hover {
//      background-color: #8A58B7;
//      box-shadow: 0 .125em rgba(255,255,255,.4), inset 0 .063em   rgba(255,255,255,.4), inset 0 -0.188em #804FAD;
//   }
//   &:active {
//      box-shadow: inset 0 0 1.094em #472566, inset 0 .063em #390668, inset 0 -0.188em #682CA0, 0 .063em rgba(255,255,255,.4);
//   }





.sidenav{
    height: 100%;
   //z-index: -1;            //to show the shadow


}

.sidenav-content{
    background-color:  #E2001A;
    //background-color:  rgba(226,0,26,0.8);
   // background-image: linear-gradient(0deg, #E2001A 15%, #D3D3D3 );


    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.89);
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn{
  background: none;
  border: 2px solid #E2001A;
  font-family: "montserrat",sans-serif;
  //font-weight: bold;
  text-transform: uppercase;
  padding: 5px 20px 20px 25px;
  min-width: 200px;
  margin: 10px;
  transition: color 0.4s linear;
  position: relative;
  color: #F0F0F0;
  background-color:#E2001A;
  //opacity: 0.6;    bg=roge
  //box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);





  width: 230px;
  height: 60px;



/* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  &:hover{
    background-color: rgb(141, 103, 103,0.3);
  }
  &:focus{
    background-color:rgba(0, 0, 0, 0.3);;
    color: white;

  }

}


.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #F0F0F0;

    .toolbar {

        max-width: 1100px;
        @media (min-width: 1100px) {
            margin: 8px 0px;
        }
        display: flex;
        @media (max-width:420px){
            display: none;
        }

        .toolbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            .navs{
                @media (max-width: 480px) {
                    font-size: 16px;
                }
                button{
                    margin: 0 0px;
                }
            }
        }
        .action{
            background-color: #4dd1e2;
            color: white;
        }
    }
}


