




<mat-sidenav-container >


        <div class="container">





            <div class="filter" [formGroup]="form">
                <button mat-icon-button class="search-icon search" >
                    <mat-icon aria-label="label">search</mat-icon>
                </button>
                <button mat-icon-button class="search-icon menu" >
                    <mat-icon aria-label="label">menu</mat-icon>
                </button>
                <input  [(ngModel)] = "searchTerm" (ngModelChange) = "search()"  placeholder="Search..." type="text" class="mat-body-strong" formControlName="search" />
                <mat-select placeholder=" " >
                    <mat-option *ngFor="let item of filterList;let i = index;" [value]="i">

                    </mat-option>
                </mat-select>

            </div>

            <div class="content">
                <div class="info">
                    <div class="text">
                        <span class="title">Stagiaires <button mat-icon-button color="warn">
                                <mat-icon>info_outline</mat-icon>
                            </button></span>
                        <p class="description">A total of {{ students.length }} <span class="number"></span> Stagiaires</p>
                    </div>

                </div>
                <ng-container *ngIf="!loading; else elseTemplate">
                    <div class="separation"></div>
                </ng-container>
                <ng-template #elseTemplate>
                    <mat-progress-bar [mode]="type" [value]="progress" style="width: 100%"></mat-progress-bar>
                </ng-template>

                <div class="medicaments">

                    <mat-card style="box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);" *ngFor="let student of students | load : end ;let i = index ;"
                        [@fade]="{value: '*', params: { delay: (i*300)%2700}}" class="medic-card">
                       <div class="remboursement" [ngClass]="{'isremb': student.attestation}"></div>
                        <mat-card-header>
                            <mat-card-title>{{student.nom  + " " +student.prenom  }}</mat-card-title>
                            <mat-card-subtitle class="DCI">{{student.email  }}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="card-content">
                            <div class="row">
                                <mat-icon class="prefix" svgIcon="therapy"></mat-icon>
                                <mat-form-field class="field" appearance="legacy" floatLabel="always">
                                    <mat-label>Date debut</mat-label>
                                    <input matInput class="input" [value]="student.dateDebut | date:'yyyy-MM-dd'" disabled>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-icon class="prefix" svgIcon="input_way"></mat-icon>
                                <mat-form-field class="field" appearance="legacy" floatLabel="always">
                                    <mat-label>Date fin</mat-label>
                                    <input matInput class="input" [value]="student.dateFin | date:'yyyy-MM-dd' " disabled>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-icon class="prefix" svgIcon="labo"></mat-icon>
                                <mat-form-field class="field" appearance="legacy" floatLabel="always">
                                    <mat-label>Encadreur</mat-label>
                                    <input matInput class="input"
                                        [value]="student.encadreur" disabled>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-icon class="prefix" svgIcon="price"></mat-icon>
                                <mat-form-field class="field" appearance="legacy" floatLabel="always">
                                    <mat-label>Type de stage</mat-label>
                                    <input matInput class="input" [value]="student.typeStage"
                                        disabled>
                                </mat-form-field>
                            </div>

                        </mat-card-content>
                        <mat-card-actions align="center">

                            <button mat-button color="black" (click)="onCreatePdf(student)">  <mat-icon >picture_as_pdf</mat-icon>   </button>
                            <button mat-button color="black" (click)="openDialog(student)"><mat-icon>edit</mat-icon></button>
                            <button mat-button color="warn" (click)= " openDialogDelete(student)"><mat-icon >delete</mat-icon></button>
                          

                        </mat-card-actions>
                    </mat-card>

                </div>
                <!---->
                <div class="pagination">
                    <button mat-raised-button color="white" class="load" (click)="setLoad(end+9)" [disabled] = " end >  students.length"  >
                        <mat-icon>keyboard_arrow_down</mat-icon>Load more
                          {{ rests }}

                    </button>
                </div>
            </div>
        </div>


    </mat-sidenav-container>
